{% extends 'auth/auth_base.html' %}

{% set active_tab = 'register' %}

{% block title %}新規登録{% endblock %}

{% block form %}
  <form method="post" novalidate>
    {{ form.hidden_tag() }} {# CSRF トークン #}

    {% if form.errors %}
      <div class="notice error">
        {% for errors in form.errors.values() %}
          {% for error in errors %}
            <div>{{ error }}</div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    {# 表示名 #}
    <div class="input-field">
      {{ form.displayName.label }}
      {{ form.displayName(class="input", placeholder="入力", id="register-displayName") }}
    </div>

    {# メールアドレス #}
    <div class="input-field">
      {{ form.email.label }}
      {{ form.email(class="input", placeholder="入力", id="register-email") }}
    </div>

    {# パスワード #}
    <div class="input-field">
      {{ form.password.label }}
      {{ form.password(class="input", placeholder="入力", id="register-password") }}
    </div>

    {# パスワード確認 #}
    <div class="input-field">
      {{ form.password_confirm.label }}
      {{ form.password_confirm(class="input", placeholder="入力", id="register-password-confirm") }}
    </div>

    <button type="submit" class="cta-button">アカウントを作成</button>
  </form>
{% endblock %}
